<div class="col-xs-2">
	<h2><%= link_to '受注履歴一覧', admin_orders_index_path %></h2>
	<h2><%= link_to '登録商品一覧', admin_item_index_path %></h2>
	<h2><%= link_to '顧客情報一覧', admin_users_index_path %></h2>
</div>