* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form{
	padding-bottom: 10px;
}

.field {
	width: 60%;
	height: 30px;
	border-radius: 3px;

}

.field_disc {
	width: 14%;
	height: 30px;
	border-radius: 3px;
}

.field_song_no {
	width: 4%;
	height: 30px;
	border-radius: 3px;
}

.field_song {
	width: 25%;
	height: 30px;
	border-radius: 3px;
}

label {
  color: black;
  background-color: white;
  padding: 3px;
  border-radius: 3px;
  opacity: 0.7;
}

label:hover {
	background-color: grey;
}

::placeholder {
	opacity: 0.5;
}