<h1>うたコレとは</h1>
<p>うたコレは、CDのネットショップです。
	最新のCDから昔流行った名曲まで幅広い商品を取り扱っております。<br>
	「あの頃の・・・」、「確かアイドルだったような・・・」<br>
	「夏によく聞いてたあの曲・・・」など<br>
	思い出せない時に便利な「タグ検索」が備わっています。<br>
	是非、うたコレでショッピングを楽しんでください！！

	<%= link_to 'Topページへ', mains_top_path %>
	</p>
