<h1>Admin::Users#index</h1>
<p>Find me in app/views/admin/users/index.html.erb</p>
<h2>顧客情報</h2>
<p></p>
<% @users. each do |user| %>
    <p><%= @user.name %></p>
    <p><%= @user.kana %></p>
 <% end %>
<%= link_to "詳細",admin_user_show(user.id) %>
